@model IEnumerable<SistemaTutorInteligente.Models.datos_personales>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.a_paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.a_materno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.edad)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.datos_cuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.a_paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.a_materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datos_cuenta.id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_usuario.id_tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_datos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_datos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_datos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
